{% extends 'user_temp/base.html' %} 
{% load static %} 
{% block title%}CHECKOUT{%endblock title %}
{% block body %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>{{request.user.first_name | capfirst}}</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <a href="/user_shop">Shop</a>
            <a href="/user_cart">Shoping cart</a>
            <a href="/user_shipping">Shipping</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<section class="checkout spad">
    {% for messages in messages  %}
        <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{messages}}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" >&times;</spam></button>
        </div>
    {% endfor %}

    <div class="container">
        <div class="checkout__form">
            <form method="post" action="{% url 'user_place_order' %}">
            {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>
                        <h6 class="checkout__title">Billing Details</h6>
                        {% for address in addresses %}
                        {% if address.is_default %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Fist Name</p>
                                    <input type="text" value="{{address.first_name}}" name="address.first_name"  readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name</p>
                                    <input type="text" value="{{address.last_name}}" name="address.last_name" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Phone</p>
                            <input type="text" value="{{address.phone}}" name="address.phone" readonly>
                        </div>
                        <div class="checkout__input">
                            <p>Address</p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add" value="{{address.address_line_1}}" name="address.address_line_1" readonly>
                            <input type="text" placeholder="Apartment, suite, unite ect (optinal)" value="{{address.address_line_2}}" name="address.address_line_2" readonly>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Town/City</p>
                                    <input type="text" value="{{address.city}}" name="address.city" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>State</p>
                                    <input type="text" value="{{address.state}}" name="address.state" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Postcode / ZIP</p>
                                    <input type="text" value="{{address.pin}}" name="address.pin" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Country</p>
                                    <input type="text" value="{{address.country}}" name="address.country" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Order notes</p>
                            <input type="text"
                            placeholder="Notes about your order, e.g. special notes for delivery" name="note">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <div class="shopping__cart__table">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                {% for cart_item in cart_items %}
                                <ul class="checkout__total__products">
                                    <li>{{cart_item.product.product_name}}<span>&#8377;&nbsp;{{cart_item.sub_total}}</span></li>
                                    
                                </ul>
                                {% endfor %}
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>&#8377;&nbsp;{{total}}</span></li>
                                    <li>Total <span>&#8377;&nbsp;{{total}}</span></li>
                                </ul>
                                {% comment %} <h4 class="order__title">Payment Method</h4>
                                <div class="checkout__input__checkbox">
                                    <label for="payment_cash">
                                        Cash on Delivery
                                        <input type="radio" id="payment_cash" name="payment_option" value="cash_on_delivery">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="payment_paypal">
                                        Razorpay
                                        <input type="radio" id="payment_paypal" name="payment_option" value="razorpay">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> {% endcomment %}
                                <button type="submit"  class="site-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock body %}