{% extends 'user_temp/base.html' %}
{% load static %}
{% block title %}WISHLIST{% endblock title %}
{% block body %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        {% for messages in messages  %}
        <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
          <strong></strong>{{messages}}
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" >&times;</spam></button>
        </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% for product in wishlist_products %}
                            {% if not product.soft_deleted %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{product.product_images.url}}">
                                        <ul class="product__hover">
                                            {% if product in wishlist_products %}
                                            <li><a href="{% url 'user_remove_wishlist' product.id %}"><img src="{% static 'img/icon/redheart.png '%}" alt=""></a></li>
                                            {% else %}
                                            <li><a href="{% url 'user_add_wishlist' product.id %}"><img src="{% static 'img/icon/heart.png '%}" alt=""></a></li>
                                            {% endif %}
                                            <li><a href="{{ product.get_url }}"><img src="{% static 'img/icon/eye.png' %}" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{product.product_name}}</h6>
                                        {% if product.quantity <= 0 %}
                                        <a class="add-cart text-danger">out of stock</a>
                                        {% else %}
                                        <a href="{{ product.get_url }}" class="add-cart">View Product</a>
                                        {% endif %}
                                        <h5>{{product.price}} RS</h5>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if products.has_other_pages %}
                            <nav class="mt-4" aria-label="Page navigation sample">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                    {% endif %}
                        
                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                        
                                    {% if products.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock body %}